<a href="https://colab.research.google.com/github/danwein8/JavaFinalProj/blob/master/Homework03_LinearRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework 3

In this homework assignment, we will further explore the **linear regression** model for regression tasks.

Please submit your solutions as a PDF file to Blackboard by **Wednesday, March 28th at 11:59 PM**.

Goal: Train a linear regression model using the normal equation and verify that the results coincide with the results from `sklearn`.

We will use the advertisement revenue data used in Week 3 notebook and build a linear regression model on `radio` and `sales`.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
url = "https://www.statlearning.com/s/Advertising.csv"
advertising = pd.read_csv(url, index_col=0)
advertising.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

1. Extract the `radio` column and the `sales` column as a new data frame named `data`.

In [ ]:
data = advertising
data.drop("TV", axis=1, inplace=True)
data.drop("newspaper", axis=1, inplace=True)
data.head()

   radio  sales
1   37.8   22.1
2   39.3   10.4
3   45.9    9.3
4   41.3   18.5
5   10.8   12.9

2. Build a linear regression model that predicts `sales` with the `radio` feature using `sklearn`. Display the model's parameter values.

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(data[["radio"]], data[["sales"]])
print(model.coef_)
print(model.intercept_)

[[0.20249578]]
[9.3116381]

3. Calculate the parameter values with the normal equation. These values should be the same as the values shown in Step 2.

In [ ]:
#print(np.ones([len(data), 1]))
#data[["radio"]].values

X = np.hstack([np.ones([len(data), 1]), data[["radio"]].values])
#print(X)
y = data[["sales"]].values
#print(y)

beta = np.linalg.inv(X.T.dot(X)).dot(X.T).dot(y)
print(beta)

[[9.3116381 ]
 [0.20249578]]

4. Calculate the MSE of the linear model using the `mean_squared_error` function from `sklearn`.

In [ ]:
from sklearn.metrics import mean_squared_error
y_pred = beta[0] + beta[1] * data['radio']
#print(y_pred)
print(mean_squared_error(data['sales'], y_pred))

18.09239774512544